// Place all the styles related to the MicropostsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* microposts */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
  font-size: 1em;
  /* float: left; */
  font-weight: normal;
}
.timestamp {
  color: gray;/* $grayLight;*/
  font-weight: normal;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
